body{
	margin: 0px;
	font-family: 'Trebuchet MS';
	color: white;
}

#imageLogo{
	float: left;
	width: 30%;
	height: 100px;
	margin: 20px;
}
#discLogo{
	float:right;
	width: 40%;
	text-align: right;
	color:white;
	font-style: italic;
	height: 100px;
}

#custom-menu{
	font-size: 16px;
}

.menu-login{
	position: absolute;
    right: 5px;
}

/* MENU  */

.menu {
	background: rgba(46, 39, 87, 1);
	width: 100%;
	height: 60px;
	font-size: 20px;
	position: relative;
	z-index: 5;
}

.menu .ui-menu-list {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.ui-menubar{
	background: rgba(46, 39, 87, 1);
	border-radius: 0px;
	border: 0px;
	padding-top: 10px;
    padding-bottom: 10px;
	
}

.ui-menuitem-text{
	color: rgba(163, 179, 183, 1);
}

ul li.ui-menuitem-active>a{
    background-image: none !important;
    background-color: rgba(79, 158, 204, 0.9) !important;   
    color: rgb(255, 255, 255) !important;
    padding-top: 10px;
    padding-bottom: 10px;
     
}

.menubutton .ui-button{
	background: rgba(46, 39, 87, 1);
	color: rgb(255, 255, 255);
	height:35px;
	border-radius: 2px;
	border: 0px;
}

.menubutton .ui-button:HOVER{
	background-image: none !important;
	background: rgba(79, 158, 204, 0.9) !important;
	color: rgb(255, 255, 255) !important;
	height:34px;
	border-radius: 3px;
}

/*  - -- -  */

.content{
	padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.h2{
	color: rgb(250,250,250);
}

.footer {
	background: rgba(46, 39, 87, 0.9);
	width: 100%;
	height: 35px;
	font-size: 12px;
	position: relative;
	font-style: italic;
	text-align: center;
	padding: 2px;
}

.panelgrid .ui-panelgrid{
	border: none  !important;
}
