body{
	margin: 0px;
	font-family: 'Trebuchet MS';
	color: white;
}

#imageLogo{
	float: left;
	width: 30%;
	height: 100px;
	margin: 20px;
}
#discLogo{
	float:right;
	width: 40%;
	text-align: right;
	color:white;
	font-style: italic;
	height: 100px;
}

.alert-error{
	text-indent:10px;
	border-width:2px;
	border-style:solid;
	border-radius:5px;
	list-style-type:none;
	background-color:rgba(255,0,0,0.1);
	border-color:rgba(255,0,0,0.2);
}

.alert-info{
	text-indent:10px;
	border-width:2px;
	border-style:solid;
	border-radius:5px;
	list-style-type:none;
	background-color:rgba(0,0,255,0.1);
	border-color:rgba(0,0,255,0.2);
}

#custom-menu{
	font-size: 16px;
}

.menu-login{
	position: absolute;
    right: 5px;
}

